.info {
    padding: 20px;
}
.tglist {
    margin-bottom: 50px;
}
.single-input {
    margin-left: 0;
}
.rule-desc {
    color: #999;
    margin-top: 20px;
}

.form-picker {
    .at-list__item{
        padding-left: 0;
        margin-left: 32px;
        .item-extra__info {
            padding-right: 0;
            color: #ccc;
        }
        &.selected .item-extra__info {
            color: inherit
        }
    }
    
}
.form-actions {
    margin-top: 20px;
    .at-button + .at-button {
        margin-top: 20px;
    }
}
